
.delButton{
  border : 3px solid green;
  height : 50px;
  width : 50px;
  background-image : url(./images/delete.png);
  background-repeat : no-repeat;
  background-position : center;
  border-radius: 50%;
}

.markButton{
  border : 3px solid green;
  height : 50px;
  width : 50px;
  border-radius : 50%;
  background: green;
}
.unMarkButton{
  border : 3px solid green;
  height : 50px;
  width : 50px;
  border-radius : 50%;
  background: white;
}

.line-through {
  text-decoration: line-through;
}
